{% liquid  

    assign overlay_string = ''

    if block.settings.image_overlay_opacity == 0
            assign overlay_string = '0'
        elsif block.settings.image_overlay_opacity == 100
            assign overlay_string = '1'
        else 
            assign percent = block.settings.image_overlay_opacity | divided_by: 10
            assign overlay_string = '0.' | append: percent
    endif 


    assign mob_header_margin_bottom = block.settings.header_margin_bottom | times: 0.5
    assign mob_subheader_margin_bottom = block.settings.subheader_margin_bottom | times: 0.5
    assign mob_description_margin_bottom = block.settings.description_margin_bottom | times: 0.5


-%}

{% style %}

    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] {
        position: relative;
        height: auto;
    }


    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .text-container {
        max-width: {{ block.settings.text_container_max_width_d }}%;
        text-align: {{ block.settings.text_alignment }};
        {% unless block.settings.complete_center %}
            top: {{ block.settings.text_container_top_pos }}%;
            left: {{ block.settings.text_container_left_pos }}%;
        {% else %}
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        {% endunless %}
    }

    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .button {
        background-color: {{ block.settings.button_background_color }}; 
        color: {{ block.settings.button_text_color }};
    }

    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] h1,
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] h2 {
        margin-bottom: {{ block.settings.header_margin_bottom }}px;
    }

    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] h3 {
        margin-bottom: {{ block.settings.subheader_margin_bottom }}px;
    }
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] p {
        margin-bottom: {{ block.settings.description_margin_bottom }}px;
    }

    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide h1,
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide h2,
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide h3,
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide h4, 
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide h5,
    [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide p  {
        color: {{ block.settings.text_color }};
    }

    @media screen and (max-width: 768px) {
        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .text-container  {
            top: {{ block.settings.top_pos_mobile }}%;
            max-width: {{ block.settings.text_container_max_width_m }}%;
            width: 95%;
        }
        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] h1,
        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] h2 {
            margin-bottom: {{ mob_header_margin_bottom }}px;
        }

        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] h3 {
            margin-bottom: {{ mob_subheader_margin_bottom }}px;
        }
        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] p {
            margin-bottom: {{ mob_description_margin_bottom }}px;
        }
        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] img {
            min-height: {{ block.settings.mobile_min_height }}px;
        }
    }

    {% if block.settings.mobile_image %}
        [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide img.mobile {
            display: none;
        }
        @media screen and (max-width: 768px) {
            [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide img.desktop  {
                display: none;
            }
            [data-section-id="{{ section.id }}"] [data-block-id="{{ block.id }}"] .tj-banner-carousel-slide img.mobile {
                display: block;
            }
        }
    {% endif %}

{% endstyle %}

{% if block.settings.use_slide_linkout %}
    <a href="{{ block.settings.button_link }}" class="tj-banner-carousel-slide">
{% else %}
    <div class="tj-banner-carousel-slide">
{% endif %}

    <div class="text-container">
        {% if block.settings.header %}
            {% if block.settings.use_h1 %}
                <h1>{{ block.settings.header }}</h1>
                {% else %}
                <h2>{{ block.settings.header }}</h2>
            {% endif %}
        {% endif %}

        {% if block.settings.subheader %}
            <h3>{{ block.settings.subheader }}</h3>
        {% endif %}

        {% if block.settings.description != blank %}
            <p>{{ block.settings.description }}</p>
        {% endif %}

        {% if block.settings.button_link and block.settings.use_slide_linkout == false %}
            <a class="button button--primary" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
        {% endif %}
        {% if block.settings.button_link and block.settings.use_slide_linkout == true %}
            <div class="button button--primary" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</div>
        {% endif %}
    </div>

    <img 
        class="desktop"
        srcset="
            {%- if block.settings.desktop_image.width >= 750 -%}{{ block.settings.desktop_image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if block.settings.desktop_image.width >= 1100 -%}{{ block.settings.desktop_image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if block.settings.desktop_image.width >= 1500 -%}{{ block.settings.desktop_image | image_url: width: 1500 }} 1500w,{%- endif -%}"
        loading="lazy"
        alt="{{ block.settings.image_alt_text | escape }}"
        width="{{ block.settings.desktop_image.width }}"
        height="{{ block.settings.desktop_image.width | divided_by: block.settings.desktop_image.aspect_ratio }}"
    >

    {% if block.settings.mobile_image %}
        <img 
            class="mobile"
            srcset="
                {%- if block.settings.mobile_image.width >= 375 -%}{{ block.settings.mobile_image | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if block.settings.mobile_image.width >= 750 -%}{{ block.settings.mobile_image | image_url: width: 750 }} 750w,{%- endif -%}"
            loading="lazy"
            alt="{{ block.settings.image_alt_text | escape }}"
            width="{{ block.settings.mobile_image.width }}"
            height="{{ block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio }}"
        >
    {% endif %}

    {% unless overlay_string == '0' %}
        <div class="image-overlay" style="background-color: rgba(0, 0, 0, {{ overlay_string }});"></div>
    {% endunless %}

{% if block.settings.use_slide_linkout %}
    </a>
{% else %}
    </div>
{% endif %}