
<script>
    window.addEventListener('DOMContentLoaded', () => {

        const fullVideomodal = document.querySelector('.full-video-modal')
        const modalClose = fullVideomodal.querySelector('.modal-close')

        document.querySelector('#MainContent').appendChild(fullVideomodal)

        const swiper = new Swiper('.full-video-modal .swiper', {
            direction: 'vertical',
            rewind: true,
            loopAddBlankSlides: true,
            speed: 400,
            centeredSlides: true
        })

        window.setTimeout(() => {
            document.querySelector('.video-preview-cards-container').classList.add('active')
        }, 1000)


        modalClose.addEventListener('click', () => {
            fullVideomodal.classList.remove('active')
            resetAllVideos()
        })

        document.querySelectorAll('.video-preview-cards-container .video-preview-card-container').forEach(videoContainer => {
            videoContainer.addEventListener('click', () => {

                const videoId = videoContainer.querySelector('video').dataset.videoId

                fullVideomodal.classList.add('active')
                
            })
        })


        function resetAllVideos() {
            document.querySelectorAll('.full-video-modal video').forEach(video => {
                video.pause()
                video.currentTime = 0
            })
        }

        window.addEventListener('click', (e) => {
            console.log(e.target)
        })

    })
</script>

{% liquid 

    assign videos_obj = product.metafields.custom.video_card_metaobjects.value

-%}

<div class="video-preview-cards-container">
    {% for video_obj in videos_obj %}
        {% assign vid_str = video_obj.preview_video | file_url %}
        <div class="video-preview-card-container">
            <video src="{{ vid_str }}" muted autoplay loop controls="false" data-video-id="video-{{ forloop.index0 }}"></video>
            <p>{{ video_obj.optional_video_explanation }}</p>
        </div>
    {% endfor %}
</div>
<div class="full-video-modal">
    <div class="modal-close">
        {% render 'icon-close' %}
    </div>
    <div class="full-video-modal-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for video_obj in videos_obj %}
                    {% assign vid_str = video_obj.full_video | file_url %}
                    <div class="swiper-slide">
                        <div class="full-video-container">
                            <video src="{{ vid_str }}" autoplay="false" controls="false" data-video-id="video-{{ forloop.index0 }}"></video>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>