<style>
    [data-section-id="{{ section.id }}"] {
        position: relative;
        height: auto;
    }


    [data-section-id="{{ section.id }}"] .button {
        background-color: {{ block.settings.button_background_color }}; 
        color: {{ block.settings.button_text_color }};
    }

    [data-section-id="{{ section.id }}"] h1,
    [data-section-id="{{ section.id }}"] h2 {
        font-size: 36px;
    }

    [data-section-id="{{ section.id }}"] h3 {
        font-size: 24px;
    }
    [data-section-id="{{ section.id }}"] p {
        font-size: 16px;
    }

    @media screen and (max-width: 768px) {
        [data-section-id="{{ section.id }}"] h1,
        [data-section-id="{{ section.id }}"] h2 {
            font-size: 24px;
        }

        [data-section-id="{{ section.id }}"] h3 {
            font-size: 16px;
        }
        [data-section-id="{{ section.id }}"] p {
            font-size: 12px;
        }
    }
</style>

<div data-section-id="{{ section.id }}" class="scroll-trigger animate--fade-in tj-banner-carousel-wrapper">
    <div class="tj-banner-carousel swiper">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide" data-block-id="{{ block.id }}">
                    {% render 'tj-banner-carousel-slide', block:block %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if section.settings.use_pagination_dots %}
        <div class="swiper-pagination"></div>
    {% endif %}

    {% if section.settings.use_arrow_buttons %}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    {% endif %}
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {

        const target = document.querySelector('[data-section-id="{{ section.id }}"] .swiper')
        
        if(!target) return

        const swiper = new Swiper(target, {
            autoHeight: true,
            spaceBetween: 0,
            slidesPerView: 1,
            slidesPerGroup: 1,
            centeredSlides: false,
            loop: true,
            speed: 400,
            {% unless section.settings.auto_rotate_seconds == 0 %}
            autoplay: {
                delay: {{ section.settings.auto_rotate_seconds }},

            },
            {% endunless %}
            {% if section.settings.use_pagination_dots %}
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            {% endif %}
            {% if section.settings.use_arrow_buttons %}
            navigation: {
                nextEl: '[data-section-id="{{ section.id }}"] .swiper-button-next',
                prevEl: '[data-section-id="{{ section.id }}"] .swiper-button-prev'
            }
            {% endif %}
        })

    })
</script>



{% schema %}
    {
        "name":"TJ Carousel",
        "settings":[
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "number",
                "id": "auto_rotate_seconds",
                "label": "Auto Rotate Timer (in Milliseconds, 0 for disable)",
                "default": 0
            },
            {
                "type": "checkbox", 
                "id": "use_arrow_buttons",
                "label": "Use Arrows Buttons (desktop only)",
                "default": false
            },
            {
                "type": "checkbox", 
                "id": "use_pagination_dots",
                "label": "Use Pagination Dots",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "carousel",
                "name": "TJ Banner Carousel",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "desktop_image",
                        "label": "Desktop Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_image",
                        "label": "Mobile Image (optional)"
                    },
                    {
                        "type": "range",
                        "step": 10,
                        "id": "image_overlay_opacity",
                        "label": "Image Overlay Opacity (%)",
                        "min": 0,
                        "max": 100,
                        "default": 40
                    },
                    {
                        "type": "number",
                        "id": "mobile_min_height",
                        "label": "Mobile Images Min Height (px)",
                        "default": 250,
                        "info": "Setting to 0 indicated no min height and the image will take on its native height / width ratio"
                    },
                    {
                        "type": "header",
                        "content": "Content container general position settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "complete_center",
                        "label": "Center Text Container (overrides top and left position)",
                        "default": false
                    },
                    {
                        "type": "select",
                        "id": "text_alignment",
                        "label": "Text Alignment",
                        "default": "left",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            }
                        ]
                    },
                    {
                        "type": "number",
                        "id": "text_container_top_pos",
                        "label": "Text Container Top Position (%)",
                        "default": 25
                    },
                    {
                        "type": "number",
                        "id": "text_container_left_pos",
                        "label": "Text Container Left Position (%)",
                        "default": 5
                    },
                    {
                        "type": "number",
                        "id": "top_pos_mobile",
                        "label": "Text Container Top Position on Mobile (%)",
                        "default": 40
                    },
                    {
                        "type": "text",
                        "id": "image_alt_text",
                        "label": "Image Alt Text (for SEO)",
                        "default": "Thrilljoy Banner Image"
                    },
                    {
                        "type": "header",
                        "content": "Text Settings"
                    },
                    {
                        "type": "text",
                        "id": "header",
                        "label": "Header",
                        "default": "Header Text"
                    },
                    {
                        "type": "checkbox",
                        "id": "use_h1",
                        "label": "Make Header H1",
                        "default": false
                    },
                    {
                        "type": "number",
                        "id": "header_margin_bottom",
                        "label": "Header Bottom Margin (px)",
                        "default": 16
                    },
                    {
                        "type": "textarea",
                        "id": "subheader",
                        "label": "Subheader",
                        "default": "Subheader Text"
                    },
                    {
                        "type": "number",
                        "id": "subheader_margin_bottom",
                        "label": "Subheader Bottom Margin (px)",
                        "default": 16
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Description",
                        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis at sem rhoncus tempor."
                    },
                    {
                        "type": "number",
                        "id": "description_margin_bottom",
                        "label": "Description Bottom Margin (px)",
                        "default": 16
                    },
                    {
                        "type": "color",
                        "id": "text_color",
                        "label": "Text Color",
                        "default": "#FFFFFF"
                    },
                    {
                        "type": "number",
                        "id": "text_container_max_width_d",
                        "label": "Text Container Max Width Desktop (%)",
                        "default": 50
                    },
                    {
                        "type": "number",
                        "id": "text_container_max_width_m",
                        "label": "Text Container Max Width Mobile (%)",
                        "default": 90
                    },
                    {
                        "type": "header",
                        "content": "Button Settings"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "color",
                        "id": "button_text_color",
                        "label": "Button Text Color",
                        "default": "#FFFFFF"
                    },
                    {
                        "type": "color",
                        "id": "button_background_color",
                        "label": "Button Background Color",
                        "default": "#5fd551"
                    },
                    {
                        "type": "url", 
                        "id": "button_link",
                        "label": "Button Link",
                        "default": "/"
                    },
                    {
                        "type": "checkbox",
                        "id": "use_slide_linkout",
                        "label": "Use Entire Slide as Link",
                        "default": false
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "TJ Banner Carousel"
            }
        ]
    }
{% endschema %}